html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

img {
    max-width: 300px;
    float: left;
    margin-right: 15px;
}

header {
    background-image: url('/images/logo.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: "Roboto", Verdana, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

nav {
    position: fixed;
    top: 0px;
    height: 40px;
    width: 100%;
    background: #efefef;
}

main {
    margin-top: 40px;
}

section::before{
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 20px;
    margin-top: 20px;
}

h2 {
    font-family: "Montserrat", Arial, Sans-serif;
}

footer {
    background: #efefef;
    padding: 100px;
    text-align: center;
}